.container.py-2
  = # TODO ナレッジのeach文に置き換える
  - 20.times do
    .card.my-4.shadow.bg-white
      .card-body
        = # TODO url変更する
        = link_to root_url, class: 'knowledge-link' do
          .h2.knowledge-title deviceを使用せずログイン機能を実装するには
        .knowledge-outline.w-100.py-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
      .card-footer.mx-0.pt-3.d-flex.justify-content-between
        = link_to root_url, class: 'd-inline-block d-flex justify-content-start knowledge-link' do
          = image_tag asset_path('person.png'), class: 'rounded-circle resize'
          %p.px-1.my-auto.text-dark 水田涼介
        .d-inline-block.d-flex.justify-content-start
          %p.px-1.my-auto.text-dark 10いいね
          %p.px-1.my-auto.text-dark 時間
