= link_to mentor_chat_group_path(chat_group),
  class: "list-group-item list-group-item-action flex-column align-items-start #{'active' if @chat_group&.id == chat_group.id}" do
  %h5.mb-1= chat_group.nickname
  .d-flex.w-100.justify-content-between
    %p.mb-1= chat_group.latest_message || 'no messages'
    %small.py-1= chat_group.updated_time&.strftime('%-m/%-d %H:%M')
