= form_for ['student', @user], url: student_account_path do |f|
  %div
    = @user.github_name
  %div
    = f.label :nickname
    = f.text_field :nickname
  %div
    = f.label :profile
    = f.text_field :profile
  = f.submit '更新する'
= link_to 'キャンセル', student_account_path
